.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

section.progress {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
}

.progress .step {
  text-align: center;
  flex-grow: 1;
  height: 20px;
  border-bottom: solid 3px transparent;
  margin: 0 3px 0 0;
  transition: 0.3s;
}

.progress .step:last-child {
  margin: 0;
}

.progress .step:hover, .progress .step.current {
  border-bottom-color: rgb(99, 140, 109);
}

.step.done {
  background-color: rgb(99, 140, 109);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.step.session {
  cursor: pointer;
  text-decoration: none;
}

.step.easy {
  background-color: rgb(231, 251, 180);
}

.step.medium {
  background-color: rgb(223, 109, 45);
}

.step.hard {
  background-color: rgb(200, 76, 5);
}

section.container {
  width: 70%;
  margin: 50px auto 0;
  text-align: center;
}

.error {
  margin: 30px auto 0;
  width: 70%;
  background-color: #f4f4f4;
  padding: 15px;
  border: solid 1px #e9e9e9;
}

.help-text {
  margin: 20px auto 0;
  width: 70%;
  color: #6e6e6e;
}

section.links {
  margin: 20px auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

section.links a {
  flex-grow: .1;
  background-color: rgba(231, 251, 180, 0.5);
  padding: 5px;
  outline: none;
  text-decoration: none;
  border-bottom: solid 1px #638c6d;
  color: #515151;
  font-weight: bold;
}

section.links a.active {
  background-color: rgba(231, 251, 180);
}

section.jokes {
  padding: 10px 0;
  width: 50%;
  margin: 0 auto;
  background-color: #dbe8f4;
}

section.jokes .intro {
  margin: 10px 0;
}

table.filtered {
  margin: 0 auto;
  width: 40%;
}

table.filtered tr:nth-child(even) {
  background-color: #f2f2f2;
}
